{% extends 'base.html' %}

{% block content %}
<body>
<!--header start here-->
<title>About</title>
<!--header end here-->
<!--about start here-->
<div class="about">
	<div class="container">
		<div class="about-main">
            <div class="about-top">
                <h2>成绩查询</h2>
            </div>
            <div class="col-md-6 text-center">
                <div class="form-inline">
                    <label for="num" style="display:inline;">输入学号:</label>
                    <input type="text" class="form-control" id="num" name="num" placeholder="请输入学号" value="" >
                </div>
                <br/>
                <div class="form-inline">
                    <label for="exam" style="display:inline;">选择考次:</label>
                    <select class="form-control" id="exam" name="exam"  >
                        <option value="0">请选择考试场次</option>
                        {% for i in exam_list %}
                        <option value="{{ i.id }}">{{ i.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <br/>
                <div class="form-inline">
                    <button type="button" class="form-control btn-success" id="getTable" name="getTable" onclick="getTable()">查询</button>
                </div>
            </div>
		</div>
        <!--<br>-->
        <hr>
		<div class="col-md-6" id="result">
            {% include 'table.html' %}
        </div>
	</div>
</div>
<!--about end here-->
<!--footer start here-->
<div class="footer">
	<div class="container">
		<div class="footer-main">
			 <div class="col-md-4 ftr-grid">
			 	<div class="ftr-grid-left">
			 	    <img src="/static/images/location.png" alt="">
			 	</div>
			 	<div class="ftr-grid-right">
			 		<p>7556 gt globel Place <span class="local">CD-road,M 07 435.</span></p>
			 	</div>
			   <div class="clearfix"> </div>
			 </div>
			 <div class="col-md-4 ftr-grid">
			 	 <div class="ftr-grid-left">
			 	    <img src="/static/images/email.png" alt="">
			 	</div>
			 	<div class="ftr-grid-right">
			 		<p><a href="#">mail@user.com</a><span class="local">saepe eveniet</span></p>
			 	</div>
			   <div class="clearfix"> </div>
			 </div>
			 <div class="col-md-4 ftr-grid">
			 	 <div class="ftr-grid-left">
			 	    <img src="/static/images/phone.png" alt="">
			 	</div>
			 	<div class="ftr-grid-right">
			 		<p>+1234 567 9871 <span class="local">+1204 859 6598</span></p>
			 	</div>
			   <div class="clearfix"> </div>
			 </div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!--footer end here-->
<!--copyright start here-->
<div class="copyright">
	<div class="container">
		<div class="copyright-main">
			   <p>Copyright &copy; 2015.Company name All rights reserved.<a target="_blank" href="http://www.cssmoban.com/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!--copyright end here-->
</body>
{% endblock %}
{% block js %}
function getTable(){
    num = $("#num").val();
    exam = $("#exam").val();
    console.log(num);
    console.log(exam);
    if (num != "" && exam != "0") {
        $.ajax({
            type: 'POST',
            url: '/api/get/table/',
            data: {"num":num,"exam":exam},
            success:function(msg){
                $("#result").html(msg);
            },
            error: function() {
                <!--$("#qipu-display-table").html("查询功能失败！");-->
                $("#qipu-display-table").html("<h1><b><font color=\"red\">查询系统出错，可能ID不正确或不匹配！</font></b></h1>");
            }
    });

    }
}
{% endblock %}
